<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{{site.baseurl}}/">
      <!--img src="{{site.baseurl}}/assets/images/logo.png" height="24" class="d-inline-block"-->
      DeFraud Workshop
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse ms-3" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#theme" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">THEME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#schedule" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">SCHEDULE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#speakers" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">SPEAKERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#papers" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">ACCEPTED PAPERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#call" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">CALL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#dates" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">DATES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#organizers" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">ORGANIZERES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#pc" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">PC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#history" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">HISTORY</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
