{% capture content %}
{% include theme.md %}
{% endcapture %}
<section class="container">
  <div class="row">
    <div class="col col-md-8 text-justify">
      <h2 class="text-center fw-bold mb-4">THEME</h2>

      <div class="text-muted text-justify">
        {{ content | markdownify }}
      </div>

    </div>
    <div class="col col-md-auto">
      <div class="text-end">
        <a href="https://twitter.com/analytics_defi?ref_src=twsrc%5Etfw" class="twitter-follow-button"
          data-show-count="false"></a>
      </div>
      <a class="twitter-timeline" data-theme="light" href="https://twitter.com/analytics_defi?ref_src=twsrc%5Etfw"
        data-chrome="nofooter noheader"></a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</section>